li {
  list-style: none;
}
.task-block {
  padding: 15px;
  background-color:#f6fced;
  box-shadow: 4px 4px 10px 0px;
}

.navigation {
  background-color:#f6fced;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px 0 15px;
}

ul {
  padding: 0;
}

.task-block-options {
  display: flex;
  flex-direction: column;
}

.task-block-options button {
  margin: 10px 0;
}