<div class="col-6">
<h1>Hello, {{user.username}}</h1>
<a routerLink="/login" (click)='logout()'>Log out</a>
  <div class="form-group">
    <label>Add new task</label>
    <input type="text" class="form-control" [(ngModel)]="value">
  </div>
  <div class="form-group">
    <button class="btn btn-primary" (click)='addTask()'>Add</button>
  </div> 
  <ul *ngFor="let item of items; let i = index">
    <li>
      <div class="task-block">
        <p>{{item}}</p>
        <a href="#" (click)="deleteTask(i)">Delete</a>
        <label>Share to</label>
        <select>
          <option *ngFor="let user of users; let i = index" [value]='user.email'>{{user.username}}</option>
        </select>
      </div>
    </li>
  </ul>
</div>