<div class="alert alert-danger position-fixed message" *ngIf='error'>{{message}}</div>
<div class="alert alert-success position-fixed message" *ngIf='success'>{{message}}</div>
<nav class="navigation">
  <h1>Hello, {{user.username}}</h1>
  <a routerLink="/login" (click)='logout()'>Log out</a>
</nav>
<div class="col-6 col-lg-3 mx-auto">
  <div class="form-group">
    <label>Add new task</label>
    <input type="text" class="form-control" [(ngModel)]="value">
  </div>
  <div class="form-group">
    <button class="btn btn-primary" (click)='setTask()'>Add</button>
  </div> 
  <ul *ngFor="let item of items; let i = index">
    <li>
      <div class="task-block">
        <div class="text">Author: {{item.assignFrom.username}}</div>
        <div class="text">Content: {{item.content}}</div>
        <div class="task-block-options">
          <button class="btn btn-primary" (click)="updateTaskFun(i)">Update</button>
          <label>Share via email</label>
          <select (change)="selectOption($event)">
            <option disabled value="">Select email:</option>
            <option *ngFor="let user of users" value='{{user.id}}' >{{user.email}}</option>
          </select>
          <button class="btn btn-primary" (click)="assignToUser(i)">Share</button>
          <button class="btn btn-danger" (click)="deleteTask(i)">Delete</button>
        </div>
      </div>
    </li>
  </ul>
</div>